*{
    margin: 0;
    padding:0;
    box-sizing: 0;
    font-family: 'Trebuchet MS';
    font-size: 14pt;
   }
   
   body{
       height:100vh;
       overflow: hidden;
       color: olivedrab;
       font-family: 'Trebuchet MS';
   }
   
   .container{
       position: relative;
       display: flex;
   }
   
   .content{
       margin-left: 20%;
       height: 100vh;
       overflow-y: scroll;
   }
   
   
   .Navigation{
       position:fixed;
       width:20%;
       height:100vh;
       display:flex;
       justify-content: start;
       align-items: center;
       flex-direction: column;
       background-color:olivedrab;
   }
   
   
   .start{
       margin-top: 40%;
       margin-bottom: 5%;
       color: white;
   }
   
   .dash-dropdown{
       width:70%;
       color: olivedrab;
   }
   .header{
       height: 15vh;
       font-size: 44pt;
       position: relative;
       display: flex;
       justify-content: space-evenly;
       color: olivedrab;
   }
   
   #logo{
       position: absolute;
       width: 60;
       height:60px;
       align-self: center;
       right: 5%;
   }
   
   #ticker{
       align-self: center;
       font-size: 50px;
       font-family: 'Trebuchet MS';
   }
   
   
   .decription_ticker{
       margin: 15px 15px;
       font-size: 20pt;
       font-family: 'Trebuchet MS'
   }
   
   .Buttons{
       margin-top:20%;
       width: 100%;
       position: relative;
       display: flex;
       justify-content: space-around;
       
   }
   
   .Buttons button{
       width:6.9vw;
       height:2vw;
       overflow: hidden;
       border-radius: 12pt;
       border: 2px solid olivedrab;;
       cursor: pointer;
       background-color:white;
       color:olivedrab;
   }
   
   .Buttons1{
    margin-top:20%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    
}

    .Buttons1 button{
    width:6.9vw;
    height:2vw;
    overflow: hidden;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    background-color:white;
    color:olivedrab;
}


   #main-content{
       margin-top: 6%;
   }
   
   .graphs-content{
       margin-top: 50%;
   }
   
   .graph-dounut{
       display: 'inline-block';
       width:20vw;
       height: 20vh;
   }
   
   .dounuts{
       display:flex;
       overflow:hidden;
       flex-direction: row;;
   }
   
   .dounuts div {
       width: 50%;
   }
   
   .kpi{
       margin:5% 5%;
       display:flex;
       justify-content: space-between;
       flex-direction: row;
   }

   .kpi2{
    margin:5% 5%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    font-family: 'Trebuchet MS';
    color: white;
}
   
   
   .kpi div {
       width:27%;
       height:10vh;
       overflow: hidden;
       background-color: olivedrab;
       justify-items: center;
       justify-content: center;
       align-content: center;
       text-align: center;
       font-size: 14pt;
       font-family: 'Trebuchet MS';
       color: white;
   }

   .kpi2 div {
    width:27%;
    height:10vh;
    overflow: hidden;
    background-color:olivedrab;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;}
   

   .kpi div P {
       margin-top: 17px;
       color:white;
       font-weight: bold;
       font-size: 30px;
   }

   .kpi2 div P {
    margin-top: 17px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
   
   .kpi div H4 {
       margin-top: 10px;
   }

   .kpi2 div H4 {
    margin-top: 10px;
}
   
   /* #floating bar */
   .modebar{
       display: none !important;
   }