*{
    margin: 0;
    padding:0;
    box-sizing: 0;
    font-family: 'Trebuchet MS';
    /* overflow: hidden; */
    /* width: auto; */
    /* height: 100%; */
   }

   body{
       height:100vh;
       font-family: 'Trebuchet MS';
       color: olivedrab;
       font-size: 13pt;
       overflow: hidden;
   }
/*
   .decription_ticker{
       height: 100%;
       overflow-y: scroll;
   } */

   /* .welc1{
    font-family: 'Trebuchet MS';
    color: olivedrab;
    font-size: 34pt;
    text-align: center; */
    /* padding-right: 372px; */
    /* padding-left: 682px; */
    /* padding-top: 18px;
    white-space: nowrap;
} */

    /* .sector_ticker{
    height: 5vh;
    font-size: 20pt;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    color:olivedrab;
    font-family: 'Trebuchet MS';
} */

    #sector{
    align-self: center;
    font-size: 19pt;
    font-family: 'Trebuchet MS';
    font-style: italic;
    height: 5vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    color:olivedrab;
    padding-top: 2.5vh;
    padding-bottom: 2vh;
}

}


/*
   #sector{
    align-self: center;
    font-size: 44px;
    font-family: 'Trebuchet MS';
} */




   .homepage{
        color: olivedrab;
        font-size: 70pt;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-right: 544px;
        padding-top: 78px;
        white-space: nowrap;
        font-family: 'Trebuchet MS';
   }

   .container{
       position: relative;
       display: flex;
       overflow: hidden;
       /* overflow-y: scroll; */
   }

   .content{
       margin-left: 20%;
       height: 100vh;
       overflow-y: scroll;
   }

   .comparecontent{
    margin-left: 20%;
    height: 100vh;
    overflow: hidden;
}


   .Navigation{
    position:fixed;
    width:20%;
    height:100vh;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color:olivedrab;
    font-family: 'Trebuchet MS';
}

    .row{
        font-family: 'Trebuchet MS';
        /* justify-content: center;
        align-content: center; */
        /* padding-left: 32px; */
        justify-content: space-between;
        padding-top: 18px;
    }

    .thespace{
        padding-top:25px;
        margin-top: 0%;
    }

   .start{
       margin-top: 40%;
       margin-bottom: 5%;
       color: white;
       font-size: 17pt;
       font-family: 'Trebuchet MS';
   }

   .start2{
    margin-top: 52%;
    color: white;
    font-size: 17pt;
    font-family: 'Trebuchet MS';
}

   .dash-dropdown{
       width:70%;
   }
   .header{
       /* height: 13vh; */
       padding-top: 5vh;
       font-size: 42pt;
       position: relative;
       display: flex;
       justify-content: space-evenly;
       color:olivedrab;
       font-family: 'Trebuchet MS';
   }

   #logo{
       position: absolute;
       width: 70;
       height:70px;
       align-self: center;
       right: 5%;
   }

   #ticker{
       align-self: center;
       font-size: 44px;
       font-family: 'Trebuchet MS';
   }


   .decription_ticker{
       margin: 15px 15px;
       font-size: 18pt;
       font-family: 'Trebuchet MS';
   }

   .Buttons{
       margin-top:20%;
       width: 100%;
       /* position: relative; */
       display: flex;
       vertical-align: middle;
       justify-content: space-around;
       font-family: 'Trebuchet MS';
       padding-bottom: 0px;
   }


   .Buttons button{
       width:6.5vw;
       height:2vw;
       overflow: hidden;
       border-radius: 5%;
       border: 2px solid olivedrab;
       cursor: pointer;
       background-color:white;
       color:olivedrab;
       font-size: 13pt;
       font-family: 'Trebuchet MS';
   }

   .Buttons1{
    margin-top:20%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    color: white;
    /* font-size: 13pt;
    font-family: 'Trebuchet MS'; */
}


  .Buttons1 button{
  width:6.9vw;
  height:2vw;
  overflow: hidden;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  background-color:white;
  color:olivedrab;
  font-size: 13pt;
  font-family: 'Trebuchet MS';
}

  .button2{
  margin-top:5%;
  width: 100%;
  display: flex;
  justify-content: space-around;

  }

  .button2 button{
    width:6.9vw;
    height:2vw;
    overflow: hidden;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    background-color:white;
    color:olivedrab;
}


.button3{
  margin-top:20%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  color: white;
  }

  .button3 button{
    width:6.9vw;
    height:2vw;
    overflow: hidden;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    background-color:white;
    color:olivedrab;
    /* font-family: 'Trebuchet MS'; */
    /* font-size: 100pt; */
}

   #main-content{
       margin-top: 6%;
   }

   .graphs-content{
       margin-top: 50%;
   }

   /* .graph-dounut{
       display: 'inline-block';
       width:20vw;
       height: 20vh;
   }
   .dounuts{
       display:flex;
       overflow:hidden;
       flex-direction: row;;
   }
   .dounuts div {
       width: 50%;
   } */

   .kpi{
       margin:5% 5%;
       display:flex;
       justify-content: space-between;
       flex-direction: row;
       color: white;
   }

   .

   .kpi2{
    margin:5% 5%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    /* width: 70%; */
}


   .kpi div {
       width:30%;
       height:10vh;
       overflow: hidden;
       background-color: olivedrab;
       justify-items: center;
       justify-content: center;
       align-content: center;
       text-align: center;
   }

   .kpi2 div {
    width:30%;
    height:10vh;
    overflow: hidden;
    background-color: olivedrab;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}


   .kpi div P {
       margin-top: 17px;
       color: white);
       font-weight: bold;
       font-size: 30px;
   }

   .kpi2 div P {
    margin-top: 17px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

   .kpi div H4 {
       margin-top: 10px;
   }

   .kpi2 div H4 {
    margin-top: 10px;
}

   /* #floating bar */
   .modebar{
       display: none !important;
   }

#news-content{
    width:1500px;
    height:20px;
    margin: 50px 50px;
    justify-content: space-between;
    /* overflow-y: scroll; */
}

.title{
    font-size:15pt;
    font-family: 'Trebuchet MS';
    justify-content: space-between;
}

.title p {
    font-size: 14pt;
    font-family: 'Trebuchet MS';
}







/* #floating bar */
   .modebar{
    display: none !important;
} */
